*{
  margin: 0;
  padding: 0;
}

:root{
  --coll: #ffc20e;
}

body{
  background-color: black;
  color: white;
}

.mainhead1{
  -webkit-text-stroke: 1px var(--coll);
  color: transparent;
  font-size: 8rem;
  font-weight: 900;
  text-align: center;
}